//
// Comments.
//

.comments {

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;

		.children {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		.comment {
			padding: 20px 0 0;

			&-body {
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				align-items: flex-start;
			}

			&-meta {
				flex: 0 1 auto;
				width: calc( 100% - 60px );

				@media ( query( min, tablet ) ) {
					font-size: 18px;
				}
			}

			.reply {
				order: 1;
				flex: 1 0;
				width: 60px;
				padding-top: 5px;
				text-align: right;
				font-size: 14px;
				font-weight: 700;
			}

			&-content {
				order: 2;
				width: calc( 100% - 5px );
				flex: 0 1 auto;
				padding-left: 65px;
				color: $muted;

				@media ( query( min, tablet ) ) {
					padding-left: 77px;
					font-size: 18px;
					line-height: 1.4;
				}
			}

			&-author {
				padding-top: 5px;
				color: $muted;

				a {
					opacity: 1;

					&:hover,
					&:focus {
						opacity: 0.8;
					}
				}

				.avatar {
					float: left;
					display: inline-block;
					margin: -3px 20px 0 0;
					vertical-align: middle;

					@media ( query( min, tablet ) ) {
						margin-right: 32px;
					}
				}

				b {
					color: $black;
					font-weight: 400;
				}
			}

			&-metadata {
				margin-left: 65px;
				font-size: 14px;
				line-height: 1.5;
				color: $muted;
			}

			&-body {
				position: relative;

				&::after {
					content: '';
					position: absolute;
					bottom: 0;
					left: 0;
					right: 0;
					border-bottom: 1px solid $border-color;
				}

				p,
				ul,
				ol,
				dl,
				table {
					margin: 20px 0;
				}

				ul,
				ol {
					ul,
					ol {
						margin: 10px 0;
					}
				}

				li {
					margin: 10px 0;
				}

				dt {
					font-weight: 700;
				}

				dd {
					margin: 0 0 10px 20px;
				}

				pre {
					overflow: scroll;
				}
			}

			&.depth-2 {
				padding-left: 65px;

				.comment-body::after {
					left: -65px;
				}
			}

			@media ( query( min, tablet ) ) {
				@for $i from 2 through 10 {
					&.depth-#{ $i } {
						padding-left: 77px;

						.comment-body::after {
							left: #{ ( $i - 1 ) * -77px };
						}
					}
				}
			}
		}
	}
}
