//
// Featured entry.
//

.entry--featured {
	display: flex;
	flex-flow: column nowrap;
	padding: 10px 20px 0;

	@media ( query( min, tablet ) ) {
		flex-flow: row wrap;
		padding-bottom: 25px;
	}

	@media ( query( min, desktop ) ) {
		padding-bottom: 40px;
	}

	@media ( query( min, site-width ) ) {
		padding-left: 0;
		padding-right: 0;
	}

	//
	// Thumbnail.
	//

	.entry__thumbnail {
		margin: -10px #{ -$site-gutter } 0;

		@media ( query( min, tablet ) ) {
			width: calc( 100% + 40px );
		}

		@media ( query( min, desktop ) ) {
			width: 100%;
			margin: -10px 0 0;
		}

		a {
			padding-bottom: 38%;
		}
	}

	//
	// Header.
	//

	.entry__header {
		@media ( query( min, tablet ) ) {
			width: 100%;
			padding: 25px 0 15px;
		}

		@media ( query( min, desktop ) ) {
			padding: 30px 0 25px;
		}
	}

	//
	// Title.
	//

	.entry__title {
		@media ( query( min, tablet ) ) {
			font-size: 36px;
		}

		@media ( query( min, desktop ) ) {
			font-size: 56px;
		}
	}

	//
	// Meta (general and in header/footer).
	//

	.entry__meta {
		@media ( query( min, tablet ) ) {
			padding: 0;
			font-size: 16px;
			line-height: #{ 30px / 16px };
		}

		@media ( query( min, desktop ) ) {
			line-height: #{ 33px / 16px };
		}
	}

	.entry__footer .entry__meta--date {
		display: none;

		@media ( query( min, tablet ) ) {
			display: inline-block;
		}
	}

	.entry__header .entry__meta {
		@media ( query( min, tablet ) ) {
			display: none;
		}
	}

	//
	// Footer.
	//

	.entry__footer {
		@media ( query( min, tablet ) ) {
			order: 1;
			min-width: 150px;
			flex: 0 0;
		}
	}

	.entry__footer .entry__meta--byline + .entry__meta--category::before {
		@media ( query( min, tablet ) ) {
			content: none;
		}
	}

	//
	// Share bar.
	//

	.entry__share--in-footer {
		@media ( query( max, tablet ) ) {
			display: none;
		}
	}

	.entry__meta + .entry__share {
		padding-top: 50px;
	}

	//
	// Summary and content.
	//

	.entry__summary,
	.entry__content {
		@media ( query( min, tablet ) ) {
			order: 3;
			width: calc( 100% - 150px );
			max-width: 720px;
			padding-left: 30px;
			flex: 1 1;
			font-size: 18px;
			line-height: #{ 30px / 18px };
		}

		@media ( query( min, desktop ) ) {
			font-size: 20px;
			line-height: #{ 33px / 20px };
		}
	}

	.entry__content {
		@media ( query( max, tablet ) ) {
			order: 1;
		}
	}

	//
	// Link more.
	//

	.entry__link-more {
		@media ( query( min, tablet ) ) {
			display: block;
			padding: 10px 0 0;
			font-size: 16px;
		}

		@media ( query( min, desktop ) ) {
			padding: 20px 0 0;
		}
	}
}
