//
// Default entry.
//

.entry {
	@media ( query( min, desktop ) ) {
		padding: 20px 0 0;
	}

	//
	// Entry thumbnail.
	//

	&__thumbnail {
		margin: 0;
		padding: 0 0 20px;
	}

	//
	// Entry header.
	//

	&__header {
		@media ( query( min, desktop ) ) {
			padding: 15px 0 0;
		}
	}

	//
	// Entry title.
	//

	&__title {
		margin: 0;
		font-size: 24px;
		text-transform: none;

		@media ( query( min, desktop ) ) {
			font-size: 36px;
		}
	}

	//
	// Entry summary and content.
	//

	&__summary,
	&__content {
		line-height: 1.5;
		color: $muted;

		@media ( query( min, desktop ) ) {
			font-size: 18px;
			line-height: #{ 25px / 18px };
		}

		p {
			margin: 15px 0 0;

			@media ( query( min, desktop ) ) {
				margin-top: 20px;
			}
		}
	}

	&__content {
		margin-top: -17px;

		@media ( query( min, desktop ) ) {
			margin-top: -12px;
		}

		p,
		ul,
		ol,
		dl,
		table {
			margin: 32px 0;
		}

		ul,
		ol {
			padding: 0 0 0 20px;
		}

		li {
			margin: 6px 0;
		}

		.aligncenter {
			margin-left: auto;
			margin-right: auto;
			text-align: center;
		}

		.alignleft {
			float: left;
			margin-left: 0;
			margin-right: 20px;
		}

		.alignright {
			float: right;
			margin-left: 20px;
			margin-right: 0;
		}
	}

	//
	// Link more.
	//

	&__link-more {
		display: none;

		.more-link {
			@extend .button;

			max-width: 240px;
		}
	}

	//
	// Entry footer.
	//

	&__footer {
		padding-top: 15px;

		@media ( query( min, desktop ) ) {
			padding-top: 20px;
		}
	}

	//
	// Entry meta.
	//

	&__meta {
		display: inline-block;
		padding: 0 0 10px;
		font-size: 14px;
		line-height: 1.5;
		color: $muted;

		@media ( query( min, desktop ) ) {
			font-size: 16px;
		}

		a {
			font-weight: 700;
			color: $black;
		}

		&--byline::first-letter {
			text-transform: uppercase;
		}

		&--date a {
			font-weight: 400;
			color: $muted;
		}
	}

	//
	// Meta items separators.
	//

	&__footer &__meta--byline + &__meta--category::before {
		content: '';
		display: inline-block;
		margin: 0 0 0 1em;
		padding: 1em 0 0 1em;
		border-left: 1px solid $border-color;
		vertical-align: middle;
	}

	//
	// Share bar.
	//

	&__share--in-content {
		text-align: center;
	}
}
