//
// Social share bar.
//

.social-share {
	padding: 10px 0;
	font-size: 14px;
	line-height: 1.5;
	font-weight: 700;
	color: $muted;

	&__title {
		display: block;
		padding: 0 0 10px;
		text-transform: uppercase;
	}

	&__buttons {
		display: inline-flex;
		flex-flow: row wrap;
		margin: -5px;
	}

	amp-social-share {
		margin: 5px;
		border: 4px solid $black;
		background-color: $black;
		opacity: 0.8;
		transition: opacity 200ms linear;

		&:hover,
		&:focus {
			opacity: 1;
			cursor: pointer;
		}
	}
}
