//
// Wrap.
//

.wrap {
	display: flex;
	flex-flow: row wrap;
	max-width: $site-max-width - ( 2 * $site-gutter );
	margin: 0 auto;

	//
	// Wrap item.
	//

	&__item {
		width: 100%;
		flex: 0 0 auto;
		padding: $site-gutter;
		border-bottom: 1px solid $border-color;

		@media ( query( min, tablet ) ) {
			padding-top: $site-gutter * 2;
			padding-bottom: $site-gutter * 2;
		}

		@media ( query( min, site-width ) ) {
			padding-left: 0;
			padding-right: 0;
		}

		//
		// Full-width item.
		//

		&--full-width {
			padding: 0 0 $site-gutter;
			border-bottom: none;

			@media ( query( min, tablet ) ) {
				padding-top: 0;
			}
		}

		//
		// Two equal columns.
		//

		&--half {
			@media ( query( min, tablet ) ) {
				width: 50%;

				&--primary {
					padding-right: 15px;
				}

				&--secondary {
					padding-left: 15px;
				}
			}
		}

		//
		// Blog layout.
		//

		&--blog {
			width: 100%;
			padding: 0;
			border-bottom: none;

			&--primary {
				@media ( query( min, tablet ) ) {
					width: percentage( 2 / 3 );
					padding: 0 $site-gutter;
				}

				@media ( query( min, site-width ) ) {
					padding: 0;
				}
			}

			&--secondary {
				@media ( query( min, tablet ) ) {
					width: percentage( 1 / 3 );
					padding: 0 $site-gutter;
				}

				@media ( query( min, site-width ) ) {
					padding: 0 0 0 100px;
				}
			}
		}

		//
		// Heading item.
		//

		&--heading {
			border-bottom: none;
			padding-bottom: 0;
		}
	}

	//
	// Site Header
	//

	&--header {
		max-width: none;
	}

	&--header &__item--branding {
		max-width: $site-max-width - ( 2 * $site-gutter );
	}

	//
	// Wrap sub item.
	//

	&__subitem {
		border-bottom: 1px solid $border-color;

		//
		// Blog sub item.
		//

		&--blog {
			padding: $site-gutter;

			@media ( query( min, tablet ) ) {
				padding: $site-gutter 0;
			}
		}
	}

	//
	// No separator modifiers.
	//

	&__item,
	&__subitem {

		&--no-separator {
			border-bottom: none;
		}

		&--widget {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 40px 0;

			@media ( query( min, desktop ) ) {
				padding: 60px 0;
			}
		}
	}

	//
	// 'Single' layout.
	//

	&--single {
		margin: 0 auto;
		padding-left: $site-gutter;
		padding-right: $site-gutter;

		@media ( query( min, tablet ) ) {
			padding-left: 200px;
		}

		@media ( query( min, desktop ) ) {
			max-width: #{ 720px - $site-gutter };
			padding-left: 10px;
			padding-right: 0;
		}
	}

	&--single &__item {
		padding-left: 0;
		padding-right: 0;
	}
}
