@font-face {
	font-family: Roboto;
	src: url( 'https://fonts.googleapis.com/css?family=Roboto:300,400,700' );
}

html {
	font-size: 100%;
}

body,
button,
input,
select,
optgroup,
textarea {
	font: 400 16px/1.25 Roboto, sans-serif;
}

figure {
	margin: 0;
}

.wp-smiley,
.emoji {
	display: inline-block;
	height: 1em;
	max-width: 1em;
	margin: 0 0.07em;
	padding: 0;
	vertical-align: -0.1em;
	background: none;
	border: none;
	box-shadow: none;
}
