//
// Breakpoints.
//

$breakpoint-mobile: 375px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-large: 1440px;

$query-breakpoints: (
	'mobile': $breakpoint-mobile,
	'tablet': $breakpoint-tablet,
	'desktop': $breakpoint-desktop,
	'desktop-large': $breakpoint-desktop-large
);
