//
// Button.
//

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	color: $white;
	background-color: $black;
	border: none;
	font-weight: 700;
	text-decoration: none;

	&--inline {
		display: inline-flex;
	}
}
