//
// Headings.
//

.heading {
	margin: 32px 0;
	font-weight: 700;
	line-height: 1.25;
	color: $black;

	&--h1 {
		font-size: 24px;

		@media ( query( min, tablet ) ) {
			font-size: 36px;
		}

		@media ( query( min, desktop ) ) {
			font-size: 56px;
		}
	}

	&--h2 {
		font-size: 20px;

		@media ( query( min, tablet ) ) {
			font-size: 24px;
		}

		@media ( query( min, desktop ) ) {
			font-size: 48px;
		}
	}

	&--h3 {
		font-size: 16px;
		text-transform: uppercase;

		@media ( query( min, tablet ) ) {
			font-size: 20px;
			text-transform: none;
		}

		@media ( query( min, desktop ) ) {
			font-size: 36px;
		}
	}

	&--h4 {
		font-size: 16px;

		@media ( query( min, tablet ) ) {
			text-transform: uppercase;
		}

		@media ( query( min, desktop ) ) {
			font-size: 24px;
			text-transform: none;
		}
	}

	&--h5 {
		font-size: 16px;

		@media ( query( min, desktop ) ) {
			font-size: 20px;
		}
	}

	&--h6 {
		font-size: 16px;

		@media ( query( min, desktop ) ) {
			text-transform: uppercase;
		}
	}

	&--widget {
		margin: 0;
		padding: 0 0 12px;
		font-size: 16px;
		text-transform: uppercase;
		color: $muted;
		border-bottom: 1px dashed rgba( $black, 0.1 );
	}
}

h1 {
	@extend .heading;
	@extend .heading--h1;
}

h2 {
	@extend .heading;
	@extend .heading--h2;
}

h3 {
	@extend .heading;
	@extend .heading--h3;
}

h4 {
	@extend .heading;
	@extend .heading--h4;
}

h5 {
	@extend .heading;
	@extend .heading--h5;
}

h6 {
	@extend .heading;
	@extend .heading--h6;
}
