//
// Search Submit Button Icon
//
// Dev Note: used on the <button> element.
//
%search-icon {
	font-size: 0;
	position: relative;
	background: $black;
	border: 2px solid $white;
	border-radius: 100%;
	padding: 5px;
	cursor: pointer;

	&::after {
		content: '';
		display: block;
		position: absolute;
		bottom: -4px;
		right: -2px;
		background: $white;
		height: 5px;
		width: 2px;
		border-radius: 3px;
		transform: rotate( -40deg );
	}
}
